<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


    <bean id="ChildUpdateDAOImpl" class="org.tamin.model.dao.ChildUpdateDAOImpl" scope="singleton">
        <property name="ConnectionManager" ref="ConnectionManager"/>
        <property name="maxSize" value="1000"/>
    </bean>

    <bean id="ConnectionManager" class="org.tamin.model.dao.ConnectionManager" scope="singleton">
        <property name="dbconfig">
            <map>
                <entry key="class">
                    <value>${gl.connection.jdbc.driver.class}</value>
                </entry>
                <entry key="url">
                    <value>${gl.connection.url}</value>
                </entry>
                <entry key="username">
                    <value>${gl.connection.username}</value>
                </entry>
                <entry key="password">
                    <value>${gl.connection.password}</value>
                </entry>
                <entry key="port">
                    <value>${gl.connection.port}</value>
                </entry>
            </map>
        </property>
    </bean>


    <!-- Spring Quartz Scheduler job -->
    <bean name="schedulerJob" class="org.springframework.scheduling.quartz.JobDetailBean" >
        <property name="jobClass" value="org.tamin.jobs.MessageNotifier"/>
        <property name="jobDataAsMap">
            <map>
                <entry key="ChildUpdateDAOImpl" value-ref="ChildUpdateDAOImpl"/>
            </map>
        </property>

    </bean>

    <!-- Cron Trigger, run every - seconds -->
    <bean id="cronTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerBean">

        <property name="jobDetail" ref="schedulerJob"/>
        <property name="cronExpression" value="0/10 * * * * ?"/>

    </bean>


    <!-- Dependency Injection -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobDetails">
            <list>
                <ref bean="schedulerJob"/>

            </list>
        </property>

        <property name="triggers">
            <list>
                <ref bean="cronTrigger"/>
            </list>
        </property>
    </bean>


</beans>
