<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">




    <bean id="OutboundConnection" class="org.tamin.model.utils.OutboundConnection"   >
        <property name="dataSource" ref="MysqlDataSource"/>
    </bean>

    <bean id="InboundConnection" class="org.tamin.model.utils.InboundConnection" scope="singleton" >

    </bean>


    <bean id="placeholderConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="/WEB-INF/connector.properties" />
    </bean>

    <!--<bean id="DataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" init-method="getConnection">-->
        <!--<property name="driverClassName"><value>${gl.out.connection.jdbc.driver.class}</value></property>-->
        <!--<property name="url"><value>${gl.out.connection.jdbc.url}</value></property>-->
        <!--<property name="username"><value>${gl.out.connection.jdbc.username}</value></property>-->
        <!--<property name="password"><value>${gl.out.connection.jdbc.password}</value></property>-->
    <!--</bean>-->


    <bean id="MysqlDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"  scope="singleton" >
        <property name="driverClassName"><value>${gl.out.connection.mysql.jdbc.driver.class}</value></property>
        <property name="url"><value>${gl.out.connection.mysql.jdbc.url}</value></property>
        <property name="username"><value>${gl.out.connection.mysql.jdbc.username}</value></property>
        <property name="password"><value>${gl.out.connection.mysql.jdbc.password}</value></property>
        <property name="maxActive"><value>${gl.out.connection.mysql.jdbc.MaxActive}</value></property>
    </bean>


    <bean id="ChildUpdateDAOImpl" class="org.tamin.model.dao.ChildUpdateDAOImpl" scope="singleton">
        <property name="maxSize" value="1000"/>
    </bean>


    <bean id="OutboundDAOImpl" class="org.tamin.model.dao.OutboundDAOImpl" >
        <property name="OutboundConnection" ref="OutboundConnection"/>
        <property name="maxSize" value="1000"/>


    </bean>

    <bean id="InboundDAOImpl" class="org.tamin.model.dao.InboundDAOImpl" >
        <property name="InboundConnection" ref="InboundConnection"/>
        <property name="maxSize" value="1000"/>

    </bean>


    <!-- Spring Quartz Scheduler job -->
    <bean name="schedulerJob" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass" value="org.tamin.jobs.MessageNotifier"/>
        <property name="jobDataAsMap">
            <map>
                <entry key="outboundDAOImpl" value-ref="OutboundDAOImpl"/>
                <entry key="fetchSize" value="100000" />
            </map>
        </property>

    </bean>

    <!-- Cron Trigger, run every - seconds -->
    <bean id="cronTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerBean">

        <property name="jobDetail" ref="schedulerJob"/>
        <property name="cronExpression" value="0/10 * * * * ?"/>

    </bean>


    <!-- Dependency Injection -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobDetails">
            <list>
                <ref bean="schedulerJob"/>

            </list>
        </property>

        <property name="triggers">
            <list>
                <ref bean="cronTrigger"/>
            </list>
        </property>
    </bean>


</beans>
