<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


    <context:property-placeholder location="WEB-INF/connector.properties" />

    <bean id="OutboundConnection" class="org.tamin.model.utils.OutboundConnection"  scope="singleton" init-method="initialize">
        <property name="properties">
            <props>
                <prop key="gl.out.connection.jdbc.driver.class">${gl.out.connection.jdbc.driver.class}</prop>
                <prop key="gl.out.connection.jdbc.url">${gl.out.connection.jdbc.url}</prop>
                <prop key="gl.out.connection.jdbc.username">${gl.out.connection.jdbc.username}</prop>
                <prop key="gl.out.connection.jdbc.password">${gl.out.connection.jdbc.password}</prop>
                <prop key="gl.out.connection.jdbc.port">${gl.out.connection.jdbc.port}</prop>
            </props>
        </property>
    </bean>
    <bean id="InboundConnection" class="org.tamin.model.utils.InboundConnection" scope="singleton" >
        <property name="properties">
            <props>
                <prop key="gl.in.connection.jdbc.driver.class">${gl.in.connection.jdbc.driver.class}</prop>
                <prop key="gl.in.connection.jdbc.url">${gl.in.connection.jdbc.url}</prop>
                <prop key="gl.in.connection.jdbc.username">${gl.in.connection.jdbc.username}</prop>
                <prop key="gl.in.connection.jdbc.password">${gl.in.connection.jdbc.password}</prop>
                <prop key="gl.in.connection.jdbc.port">${gl.in.connection.jdbc.port}</prop>
            </props>
        </property>
    </bean>


    <bean id="ChildUpdateDAOImpl" class="org.tamin.model.dao.ChildUpdateDAOImpl" scope="singleton">
        <property name="maxSize" value="1000"/>
    </bean>


    <bean id="OutboundDAOImpl" class="org.tamin.model.dao.OutboundDAOImpl" >
        <property name="OutboundConnection" ref="OutboundConnection"/>
        <property name="maxSize" value="1000"/>


    </bean>

    <bean id="InboundDAOImpl" class="org.tamin.model.dao.InboundDAOImpl" >
        <property name="InboundConnection" ref="InboundConnection"/>
        <property name="maxSize" value="1000"/>

    </bean>


    <!-- Spring Quartz Scheduler job -->
    <bean name="schedulerJob" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass" value="org.tamin.jobs.MessageNotifier"/>
        <property name="jobDataAsMap">
            <map>
                <entry key="outboundDAOImpl" value-ref="OutboundDAOImpl"/>
                <entry key="fetchSize" value="100000" />
            </map>
        </property>

    </bean>

    <!-- Cron Trigger, run every - seconds -->
    <bean id="cronTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerBean">

        <property name="jobDetail" ref="schedulerJob"/>
        <property name="cronExpression" value="0/10 * * * * ?"/>

    </bean>


    <!-- Dependency Injection -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobDetails">
            <list>
                <ref bean="schedulerJob"/>

            </list>
        </property>

        <property name="triggers">
            <list>
                <ref bean="cronTrigger"/>
            </list>
        </property>
    </bean>


</beans>
